---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Header from '../../components/Header.astro';
import Sidebar from '../../components/Sidebar.astro';
import { getCollection } from 'astro:content';
import { getLangFromUrl, useTranslations } from '../../i18n/ui';

export function getStaticPaths() {
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'zh-cn' } },
  ];
}

const { lang } = Astro.params;
const t = useTranslations(lang as any);

const posts = (await getCollection('devblogs', ({ id }) => {
  return id.startsWith(lang + '/');
})).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const products = await getCollection('products');
---

<BaseLayout title="DevScholar">
	<Header slot="header" />
	<Sidebar slot="sidebar" />
	
	<section class="home">
		<h1>{t('welcome')}</h1>
		<p>{t('welcomeDesc')}</p>

		<h2>{t('latestPosts')}</h2>
		<ul class="devblogs-list">
			{posts.slice(0, 3).map((post) => (
				<li><a href={`/${lang}/devblogs/${post.slug}/`}>{post.data.title}</a></li>
			))}
		</ul>

		<h2>{t('products')}</h2>
		<ul class="product-list">
			{products.map((product) => (
				<li>
					<a href={product.data.website || '#'}>{product.data.name}</a>
					<p>{product.data.description}</p>
				</li>
			))}
		</ul>
	</section>
</BaseLayout>

<style>
	.home h2 {
		margin-top: 30px;
	}
	.devblogs-list, .product-list {
		list-style: disc;
		padding-left: 20px;
	}
	.product-list li {
		margin-bottom: 15px;
	}
	.product-list a {
		color: #0000ff;
		font-size: 16px;
	}
	.product-list a:hover {
		color: #ff0000;
	}
	.product-list p {
		margin: 5px 0 0 0;
		color: #808080;
	}
</style>
